.kinesis_result_state {
	font-size: 16px;
	text-align: center;
}

.kinesis_state_alert {
	color: #ff3333;
}

.kinesis_state_superior {
	color: #33ccff;
}

.kinesis_state_ideal{
	color: #66ff66;
}
.kinesis_state_alert {
	color: #ff3333;
}

.kinesis_state_superior {
	color: #33ccff;
}

.kinesis_state_ideal{
	color: #66ff66;
}