.kinesis_graph_display_information {
	width: 100%;
	height: 20px;
}

.kinesis_result_display {
	float: right;
}

.kinesis_age_avg_display {
	float: left;
	color: #666666;
}

.kinesis_result_state {
	font-size: 16px;
	text-align: center;
}

.kinesis_state_alert {
	color: #ff3333;
}

.kinesis_state_superior {
	color: #33ccff;
}

.kinesis_state_ideal{
	color: #2de15c;
}
